h1{
	color: darkred;
}
.mylogo{
	width: 30%;
}
body{
	color: black;
}
.MgMui{
	width: 20%;
}
.BruceLee{
	width: 60%;
}
.IpMan{
	width: 15%;
}
.spacing {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
.videos{
	width: 100%;
	height: 255%;
}
.bordervideos{
	border: red 5px;
}